<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              StudyEasy
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home </a>
              </li>
              <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
              </li>
              <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
              </li>
              <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/profile}">Profile</a>
              </li>
              <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
              </li>
              <li sec:authorize="${hasRole('ADMIN')} or ${hasAuthority('ACCESS_ADMIN_PANEL')}" class="nav-item">
                  <a class="nav-link" th:href="@{/admin}">Admin</a>
              </li>
                <li sec:authorize="${hasAnyRole('ADMIN','EDITOR')}" class="nav-item">
                <a class="nav-link" th:href="@{/editor}">Editor</a>
              </li>
              </ul>
          </div>
        </nav>
      </div>
    </header>
</html>